body{
    background-color: white;
}
.logo{
    width: 300px;
    height: 250px;
    margin-top: 30px;
    margin-left: 80px;
}
.red{
    margin-left: 430px;
    margin-top: -180px;
    font-size: 70px;
    color:#2F496E;
}
.subtitulo{
    margin-left: 460px;
    margin-top: -30px;
    color:#0E9897;
}
.informacion{
    margin-top: 70px;
    margin-left: 300px;
    margin-right: 300px;
    font-size: 20px;
    line-height: 25px;
    color: rgb(15, 15, 15)
}
.ingreso{
    margin-top: 20px;
    margin-left: 610px;
    padding: 5px 20px;
    font-size: 20px;
    background-color: palevioletred;
    color: #F4EADE;
    border-radius: 10px;
}
.ingreso:hover {
    background-color:#0E9897;
}
.loguito{
    width: 230px;
    height: 180px;
    margin-top: 10px;
    margin-left: 100px; 
}
.subtitulo1{
    margin-left: 380px;
    margin-top: -120px;
    font-size: 40px;
    color: #2F496E;
    font-weight: bold;
}
footer{
    margin-top: 70px;
    margin-left: 530px;
}
.pantallacifra{
    margin-left: 380px;
    margin-top: 70px;
}
.tex{
    margin-left: 450px;
}
.t1{
    border: 2px solid palevioletred;  
}
.t2{
    margin-top: 50px;
    border: 2px solid palevioletred;
}
.botones1{
    margin-top: -120px;
    margin-left: 530px;
}
.b1{
    margin-top: 10px;
    margin-right: 120px;
    margin-left: 140px;
    padding: 5px 20px;
    font-size: 15px;
    background-color: palevioletred;
    color: #F4EADE;
    border-radius: 5px;
}
.b1:hover{
    background-color:#0E9897;
}
.b2{
    padding: 5px 20px;
    font-size: 15px;
    background-color: palevioletred;
    color: #F4EADE;
    border-radius: 5px;
}
.b2:hover{
    background-color:#0E9897;  
}
.b3{
    padding: 5px 20px;
    font-size: 15px;
    background-color: palevioletred;
    color: #F4EADE;
    border-radius: 5px;
    margin-left: 230px;
    margin-top: 10px;
}
.b3:hover{
    background-color:#0E9897;
}
.numerito{
    width: 40px;
    border-radius: 2px;
    border: 2px solid palevioletred;
}
.desplazamiento{
    color:  #0E9897;
    font-size: 20px;
}
.ocultar{
    display: none;
}
.mostrar{
    display: block;
}
textarea{
    resize: none;
}
.ingresa{
    margin-top: 60px;
    margin-left: 500px;
}
.sesion1{
    margin-left: 30px;
    border-radius: 2px;
    border: 2px solid #0E9897;
}
.sesion2{
    border-radius: 2px;
    border: 2px solid #0E9897;
}
#cabecera{
    margin-top: -20px;
    margin-left: 30px;
}
.letra{
    color:#2F496E;
    font-weight: bold; 
    font-size: 20px;
}
