body{
    background-color: white;
    background-image: url("mujer.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.logo{
    width: 330px;
    height: 260px;
    margin-top: 30px;
    margin-left: 80px;
}
.red{
    font-family: 'Philosopher', sans-serif;
    margin-left: 430px;
    margin-top: -180px;
    font-size: 70px;
    color:#2F496E;
}
.subtitulo{
    font-family: 'Philosopher', sans-serif;
    margin-left: 460px;
    margin-top: -30px;
    color:#0E9897;
}
.informacion{
    font-family: 'Merriweather Sans', sans-serif;
    margin-top: 70px;
    margin-left: 300px;
    margin-right: 300px;
    font-size: 17px;
    line-height: 25px;
    color: rgb(15, 15, 15)
}
.ingreso{
    margin-left: 610px;
    padding: 5px 20px;
    font-size: 20px;
    background-color: rgb(248, 131, 170);
    color: #F4EADE;
    border-radius: 10px;
    
}
.ingreso:hover {
    background-color:#0E9897;
}
.loguito{
    width: 265px;
    height: 210px;
    margin-top: 10px;
    margin-left: 120px; 
}
.subtitulo1{
    font-family: 'Philosopher', sans-serif;
    margin-left: 380px;
    margin-top: -132px;
    font-size: 40px;
    color: #2F496E;
    font-weight: bold;
}
footer{
    font-family: 'Philosopher', sans-serif;
    margin-top: 60px;
    margin-left: 510px;
}
.pantallacifra{
    margin-left: 380px;
    margin-top: 70px;
}
.tex{
    margin-left: 450px;
}
.t1{
    border: 2px solid palevioletred;  
}
.t2{
    margin-top: 50px;
    border: 2px solid palevioletred;
}
.botones1{
    margin-top: -120px;
    margin-left: 530px;
}
.b1{
    margin-top: 10px;
    margin-right: 120px;
    margin-left: 140px;
    padding: 5px 20px;
    font-size: 15px;
    background-color: palevioletred;
    color: #F4EADE;
    border-radius: 5px;
}
.b1:hover{
    background-color:#0E9897;
}
.b2{
    padding: 5px 20px;
    font-size: 15px;
    background-color: palevioletred;
    color: #F4EADE;
    border-radius: 5px;
}
.b2:hover{
    background-color:#0E9897;  
}
.b3{
    padding: 5px 20px;
    font-size: 15px;
    background-color: palevioletred;
    color: #F4EADE;
    border-radius: 5px;
    margin-left: 230px;
    margin-top: 10px;
}
.b3:hover{
    background-color:#0E9897;
}
.b4{
    padding: 5px 20px;
    font-size: 20px;
    color: #F4EADE;
    margin-left: 850px;
    margin-top: 40px;
    border-radius: 5px;
    background-color:#0E9897;
}
.b4:hover{
    background-color:#2F496E;;

}
.numerito{
    width: 40px;
    border-radius: 2px;
    border: 2px solid palevioletred;
}
.desplazamiento{
    font-family: 'Philosopher', sans-serif;
    color:  #0E9897;
    font-size: 20px;
}
textarea{
    resize: none;
}
.ingresa{
    margin-top: 40px;
    margin-left: 500px;
}
.sesion1{
    margin-left: 30px;
    border-radius: 2px;
    border: 2px solid #0E9897;
}
.sesion2{
    border-radius: 2px;
    border: 2px solid #0E9897;
}
#cabecera{
    margin-top: -20px;
    margin-left: 30px;
}
.letra{
    font-family: 'Philosopher', sans-serif;
    color:#2F496E;
    font-weight: bold; 
    font-size: 18px;
}
.ocultar{
    display: none;
}
.mostrar{
    display: block;
}
.esconder{
    display: none;
}
.emerge{
    margin-left: 75px;
    margin-top: 15px;
    color: red;
    font-size: 18px;
}